* {
  margin: 0px;
  padding: 0px;
}
.section {
  height: 100vh;
  background-color: #1b1b1b;
  clip-path: polygon(0 0, 100% 0%, 100% 91%, 0 100%);
  background-image: url("./back.png");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 90% 0%;
}
.section-container {
  height: 100vh;
  color: #fff;
  /* border: 1px solid white; */
}
.header-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-main {
  font-size: 6rem;
  font-family: new-spirit, serif;
  font-weight: 400;
  font-style: normal;
}

.header-spam {
  color: #e8a24f;
  text-decoration: underline;
}
.subtext {
  color: #f3f3f4;
  font-size: 1.2rem;

  font-family: new-spirit, serif;
  font-weight: 500;
  font-style: normal;
}
.test {
  font-size: 10rem;
}
/* @media screen and (min-width: 400px) {
  .test {
    font-size: 50rem;
  }
} */

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .header-main {
    font-size: 5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-main {
    font-size: 4.5rem;
  }
  .subtext {
    font-size: 1rem;
  }
  .section {
    background-size: 81%;
    background-position: 100% 0%;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
}
